//base

@import "o2-partials/styles";

@media (min-width: 721px) {
    @import "o2-partials/desktop";
}

@media (max-width: 720px) {
    @import "o2-partials/mobile";
}

// o2 styling



body .maincontainer {
    background: url(img/blauverlauf.jpg) repeat-x;
    background-size: cover;
}

.questiontexttable, td[bgcolor="#000000"] {
    background: none;
}

*, span, font, #back_btn, #next_btn, input, textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu!important;
    font-weight: 400;
    font-style: normal;
}