//import

@import "o2-imports/styles";

@media (min-width: 721px) {
    @import "o2-imports/desktop";
}

@media (max-width: 720px) {
    @import "o2-imports/mobile";
}

// o2 styling
//

//var
$blue: #6ebde9;
// $blue: #65b4e4;


//base
body .maincontainer {
    background: url(img/blauverlauf.jpg) repeat-x;
    background-size: cover;
}

.questiontexttable, td[bgcolor="#000000"] {
    background: none;
}

*, span, font, #back_btn, #next_btn, input, textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu!important;
    font-weight: 400;
    font-style: normal;
}


//color
.answer.single, .answer.multiple {
    border-top: none;
    border-bottom: 2px solid #fff !important;

    &:hover {
        border-bottom: 2px solid $blue !important;
    }
}

textarea, input[type="text"], input[type="number"], input[type="email"], input[type="password"], select {
    border: 2px solid #fff !important;
    background: none !important;
}

#back_btn, #next_btn {
    background: $blue;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid #265a8d;

    &:active {
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
    }
}

.popmidm b, .popmidm p,
.answer.checked > div > span,
span[style*="color:#36DEA7"] {
    color: $blue !important;
}


//rmv
.bottomtable {
    display: none;
}